= form_for @mixi do |f|
  - if @mixi.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mixi.errors.count, "error")} prohibited this mixi from being saved:"
      %ul
        - @mixi.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit 'Save'
