%h2 Mixiアカウント

%table.table
  %tr
    %th ID
    %th Name
    %th Email
    %th

  - @mixis.each do |mixi|
    %tr
      %td= mixi.id
      %td= mixi.name
      %td= mixi.email
      %td
        = link_to 'Show', mixi, class: 'btn'
        = link_to 'Edit', edit_mixi_path(mixi), class: 'btn'
        = link_to 'Destroy', mixi, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'

%br

= link_to 'New Mixi', new_mixi_path
