%p#notice= notice

%p
  %b Name:
  = @mixi.name
%p
  %b Email:
  = @mixi.email
%p
  %b Password:
  = @mixi.password.replace('********')

= link_to 'Edit', edit_mixi_path(@mixi)
\|
= link_to 'Back', mixis_path
