= form_for @bro3, html: { class: 'form-horizontal' } do |f|
  - if @bro3.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bro3.errors.count, "error")} prohibited this bro3 from being saved:"
      %ul
        - @bro3.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label 'Mixiアカウント', class: 'control-label'
    .controls
      = f.collection_select :mixi_id, Mixi.find(:all), :id, :name, { :prompt => true }
  .control-group
    = f.label :server, class: 'control-label'
    .controls
      = f.collection_select :server, Server.find(:all), :name, :name, { :prompt => true }
  .control-group
    = f.label :mode, class: 'control-label'
    .controls
      = f.select :mode, [ 'TP', 'BP', '300' ]
  .control-group
    = f.label :active, class: 'control-label'
    .controls
      = f.check_box :active
  .control-group
    = f.label 'BP', class: 'control-label'
    .controls
      = f.number_field :bp
  .control-group
    = f.label 'TP', class: 'control-label'
    .controls
      = f.number_field :tp
  .control-group
    = f.label 'CP', class: 'control-label'
    .controls
      = f.number_field :cp
  .controls-group
    .controls
      = f.submit 'Save'
