%h1 アカウント

%ul.nav.nav-tabs
  = content_tag :li, :class => ("active" if params[:server].nil?) do
    = link_to '全て', bro3s_path
  - Server.all.each do |server|
    = content_tag :li, :class => ("active" if server.name == params[:server]) do
      = link_to server.name, bro3s_path(:server => server.name)

= link_to '登録', new_bro3_path(params[:server] ? { :server => params[:server]} : nil), :class => 'btn'

= paginate @bro3s

%table.table.table-hover.table-striped
  %tr
    %th ID
    %th Mixi
    %th Server
    %th Mode
    %th BP
    %th= "TP (%d:%d)" % [ @num, @num * 500 ]
    %th CP
    %th
    %th

  - @bro3s.each do |bro3|
    %tr{:class => ('disabled' unless bro3.active)}
      %td= bro3.id
      %td= bro3.mixi.name
      %td= bro3.server
      %td= bro3.mode
      %td= bro3.bp
      %td= bro3.tp ? "%d (%d)" % [bro3.tp, bro3.tp / 499 ] : "N/A" 
      %td= bro3.cp
      %td{:class => ('outdated' if 20.hours.ago > bro3.updated_at)}= bro3.updated_at.to_s(:simple)
      %td
        = link_to 'Show', bro3, class: 'btn'
        = link_to 'Edit', edit_bro3_path(bro3), class: 'btn'
        = button_to 'Destroy', bro3, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  - if @bro3s.empty?
    %tr
      %td(colspan="7") アカウントが登録されていません。

%br

= paginate @bro3s

= link_to '登録', new_bro3_path(params[:server] ? { :server => params[:server]} : nil)
