%p#notice= notice

.content
  .row
    .span4
      %table.table.table-condensed
        %tr
          %th Mixi
          %td= @bro3.mixi.name

        %tr
          %th Server
          %td= @bro3.server
        %tr
          %th Mode
          %td= @bro3.mode
        %tr
          %th BP
          %td= @bro3.bp
        %tr
          %th TP
          %td= @bro3.tp
        %tr
          %th CP
          %td= @bro3.cp

= link_to 'Edit', edit_bro3_path(@bro3), class: 'btn'
= link_to 'Back', bro3s_path, class: 'btn'
