%h1 サーバー

%table.table
  %tr
    %th Name
    %th

  - @servers.each do |server|
    %tr
      %td= server.name
      %td
        = link_to 'Show', server 
        = link_to 'Edit', edit_server_path(server)
        = button_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Server', new_server_path
